<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% include navbar %>
    <p>Welcome to <%= title %></p>
    <% include post_form %>
    <% for ( var i = 0; i < posts.length; i++) { %>
        <div>
            <a href=<%= '/post/' + posts[i]._id %> >More details</a>
	    <p><%= posts[i].user.name %>
	    <p><%= posts[i].content %></p>
	    <span>likes: <%= posts[i].likes %> 
                  date: <%= posts[i].date %></span>
        </div>
    <% } %>
  </body>
</html>
