<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include navbar %>

	<% if (user.avatar.data != null) { %>
	    <img src=<%= '/' + user._id + '/profile/photo' %> >
        <% } %>
        <a href="<%= '/'+user._id+'/timeline' %>">
	    View <%= user.name +"'s" %> Timeline
	</a>
        <h2><%= user.name + "'s profile"%></h2>
        <p>Name: <%= user.name %></p>
        <p>Age: <%= user.age ? user.age : "This user doesn't have their age posted."%></p>
        <p>Birthday: <%= user.birthday ? user.birthday : "This user doesn't have their birthday posted."%></p>
        <p>Bio: <%= user.bio ? 
	    user.bio : 'This user does not have a bio.'%>
	<p>
	<h3><%= user.name + "'s posts"%></h3>
	<% for (var i = 0; i < posts.length; i++) { %>
	     <div class='post'>
                <a href=<%= '/' + user._id + '/posts/' + posts[i]._id %> >
                    See comments
		</a><br><br>
		<a href="<%='/'+posts[i].user._id+'/timeline' %>">
		    <%= posts[i].user.name %>
		</a>
                <p><%= posts[i].content %></p>
                <span>
                    <form class='like' method='POST' 
                        action='<%= "/"+user._id+"/timeline?_method=PUT" %>'>

                        <input type='hidden' name='post_id' 
                            value='<%= posts[i]._id %>'></input>

                        <input type='submit' name='action'
                            value="<%= 'like this: ' + posts[i].likes  %>">
                        </input>
                    </form>
                    <p>date: <%= posts[i].formatted_date %></p>
                </span>
            </div>
	<% } %>
    </body>
</html>

