<!DOCTYPE html>
<html>
    <head>
	<meta charset='UTF-8'>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include navbar %>
	<% if (user._id.toString() === post.user._id.toString()) { %>
	    <a href=<%= '/post/' + post._id + '/edit' %>> >Edit post</a>
	    <a href=<%= '/post/' + post._id + '/delete' %>>Remove post</a>
	<% } %>
        <div>
	    <%= post.user.name %>
            <%= post.content %>
	    <span>
		 <form method='POST' 
                      action='<%= "/"+post.user._id+"/posts/"+post._id+
                      "/?_method=PUT" %>'>

                      <input type='hidden' name='post_id' 
                          value='<%= post._id %>'></input>

                      <input type='submit' name='action'
			  value="<%= 'like this: ' + post.likes %>"></input>
                 </form>
		 date: <%= post.date %>
	    </span>
        </div>
	<%- include comment_form %>
        <% if (comments) { %>
            <% for (var i = 0; i < comments.length; i++) { %>
	        <div>
		    <%= comments[i].author.name %><br>
		    <%= comments[i].content %>
		    <% if (comments[i].author._id.toString() === 
		        user._id.toString()) { %>
		        <button>Edit</button>
			<button>Delete</button>
                    <% }  %>
		    date: <%= comments[i].date %>
                </div>
            <% } %>
	<% } else { %>
            <p>No comments on this post.</p>
	<% } %>
    </body>
</html>
