<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <%- include navbar %>
	<% if (!other) { %>
	    <a href=<%= '/post/' + post._id + '/edit' %>> >Edit post</a>
	    <a href=<%= '/post/' + post._id + '/delete' %>>Remove post</a>
	<% } %>
        <div>
            <%= post.content %>
	    <span>likes: <%= post.likes %> date: <%= post.date %></span>
        </div>
	<%- include comment_form %>
        <% if (comments) { %>
            <% for (var i = 0; i < comments.length; i++) { %>
	        <div>
		    <%= comments[i].author.name %><br>
		    <%= comments[i].content %>
		    <span>
			<button>like this:</button><%= comments[i].likes %>
			date: <%= comments[i].date %>
                    </span>
		    <% if (comments[i].author._id.toString() === 
		        user._id.toString()) { %>
		        <button>Edit</button>
			<button>Delete</button>
		    <% } %>
                </div>
            <% } %>
	<% } else { %>
            <p>No comments on this post.</p>
	<% } %>
    </body>
</html>
