<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <%- include navbar %>
	<a href=<%= '/post/' + post._id + '/edit' %> >Edit post</a>
        <div>
            <%= post.content %>
	    <span>likes: <%= post.likes %> date: <%= post.date %></span>
        </div>
	<%- include comment_form %>
        <% if (comments) { %>
            <% for (var i = 0; i < comments.length; i++) { %>
	        <div>
                    <%= comments[i].post.name %>
		    <%= comments[i].content %>
		    <span>
	                likes: <%= comments[i].likes %> 
			date: <%= comments[i].date %>
                    </span>
                </div>
            <% } %>
	<% } else { %>
            <p>No comments on this post.</p>
	<% } %>
    </body>
</html>
